html, body {
	height: 100%;
	font-family: helvetica, sans-serif;
}

nav {
	background: rgba(23, 207, 207, .6);
	padding: 5px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

nav img {
	width: 130px;
	box-shadow: 0px 0px 3px grey;
	transition: box-shadow 0.3s linear; 
}

nav img:hover {
	box-shadow: 0px 0px 6px;
}

#first {
	background: url(../images/tj.jpg) no-repeat center center fixed;
	background-size: cover;
	color: white;
	-webkit-display: flex;
	display: flex;
}

#first > div {
	margin: auto;
}

#first .col-sm-5  {
	margin-top: 160px;
}

#first .col-sm-5 h1 {
	font-size: 36px;
}

#first .col-sm-5 p {
	text-align: justify;
	font-size: 17px;
}

#first > div > .col-sm-5  > #glcon {
	text-align: center;
	padding-bottom: 20px;
}

#first > div > .col-sm-5  > #glcon  img {
	width: 60px;
	cursor: pointer;
}

.slideanim {
    animation: slide 1s;
    -webkit-animation: slide 1.5s; 
}

/* animacia uvodneho textu */


@media screen and (min-width: 768px) {

	.slideanim {
    		animation: slide 1s;
    		-webkit-animation: slide 1.5s; 
	}

	@keyframes slide {
    		0% {
       			opacity: 0;
        		transform: translateX(50%);
    		} 
    		100% {
        		opacity: 1;
        		transform: translateX(0%);
    		} 
	}

	@-webkit-keyframes slide {
    		0% {
        		opacity: 0;
        		-webkit-transform: translateX(50%);
    		}	 
    		100% {
        		opacity: 1;
        		-webkit-transform: translateX(0%);
    		}
	}

}



.box {
	padding-top: 80px;
	padding-bottom: 80px;	
}

hr {
	width: 60%;
	border-color: black;
}

.container {
	text-align: justify;
	font-size: 17px;
}

.col-sm-4 {
	-webkit-display: flex;
	display: flex;	
}

.col-sm-4 a {
	width: 300px;
	height: 250px;
	margin: auto;
	display: block;
	text-decoration: none;
}


#photoBox1, #photoBox2, #photoBox3 {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	color: white;
	transition: color .2s ease-in-out;
}


#photoBox1 {
	background: url(../images/4.jpg);
	background-size: cover;
}

#photoBox2 {
	background: url(../images/circ.jpg);
}

#photoBox3 {
	background: url(../images/hola.jpg);
	background-size: cover;
}

#photoBox1:hover, 
#photoBox2:hover,
#photoBox3:hover {
	color: #001433;
}

#insideBox1, #insideBox2, #insideBox3 {
	background: rgba(102, 153, 153, 0.6);
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding-top: 10px;
	text-align: center;
	/*position: absolute;*/
}

.capt1, .capt2, .capt3 {
	font-size: 20px;
}

footer {
	background: #5abbe8;
	padding: 10px;
	font-size: 16px;
	text-align: center;
    color: black;
}

footer img {
	width: 250px;
	height: auto;
	margin-bottom: 10px;
}

footer a {
	text-decoration: none;
	transition: .4s;
	color: black;
}

footer a:hover {
   color: white; 
   text-decoration: none;
}

@media screen and (max-width: 300px) {
	footer img {
		width: 150px;
	}
}